<div>
	<form ng-model="question">
		<label for="question">Question</label>
		<input ng-model="question.question" id="question" type="text" required />
				
		<label for="answerTypes">Answer type</label>
		<select ng-model="question.answerType" id="answerTypes">
			<option ng-repeat="answer in answerTypes">{{answer}}</option>
		</select>
		
		<label for="questionDisease">Disease</label>
		<select ng-model="question.diseaseId" id="questionDisease">
			<option ng-repeat="disease in diseases" value="{{disease.id}}">{{disease.disease}}</option>
		</select>
		
		<input type="button" ng-click="save()" value="Save"/>
	</form>
	<input type="button" ng-click="back()" value="Back"/>
</div>